body {
    font-size:9pt;
    font-family:Tahoma;
    text-align: left;
    color: #0768A9;
}

h2 {
    font-family:Calibri;
    text-align: left;
}

.action {
    color: #0768A9;
}

.footer {
    font-size:9pt;
    font-family:Tahoma;
    text-align: left;
}

.subtext {
    font-size:9pt;
    font-family:Tahoma;
    text-align: left;
}

.hal {
    font-size:9pt;
    font-family:Tahoma;
    text-align: left;
}

.halui {
    font-size:9pt;
    font-family:Tahoma;
    text-align: left;
}