<?xml version="1.0" encoding="utf-8" ?>
<polaris>
  <boot>
    <app_controller>Polaris.DefaultAppController, Polaris</app_controller>
    <app_host>Polaris.DefaultApplicationHost, Polaris</app_host>
    <api_provider>Polaris.DefaultAppController, Polaris</api_provider>
    <start_page>{APPPATH}Html\index.html</start_page>
  </boot>
</polaris>